<html>

<head>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ static_url("scripts/js/jquery.inview.js")}}" type="text/javascript"></script>
  <script src="{{ static_url("scripts/js/base64.js")}}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}"/>
  <script src="{{ static_url("scripts/brython/brython.js") }}"></script>

  <title>watashiko</title>

</head>

<script type="text/python" src="{{ static_url("scripts/brython/script.py") }}">
</script>

<body onload="brython(1)">
  <h1>watashiko</h1>
  <ul id="contents_list"></ul>

  <p id="last">Now loading next shiko...</p>
</body>

</html>